{% extends 'layout.html.twig' %}
{% import "modals/tweet.html.twig" as tweet_modal %}

{% block content %}

  <div class="row-fluid">
    <div class="span" style="width:100%;">
    </div>
  </div>

{% endblock %}